<!-- This will be the map to show players where parks are -->
<main>
    <div id="map"></div>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBchhEMlDgE_Wt_qruQG3GO7mwNQEMDYE&callback=initMap" async defer></script>
