<!-- This will be the map to show players where parks are -->
<main>
    <section>
        <h2 class="is-size-2 has-text-centered has-text-white mb-6 has-text-white">Search for a Course near you</h2>
        <div>
            <input id="pac-input" class="controls has-text-centered" type="text" placeholder="Search"/>
        </div>
        <div id="map"></div>
    </section>
</main>

<script src="/js/courses.js"></script>

