<!-- This will be the map to show players where parks are -->
<main>
    <section>
        <h2 class="is-size-2 has-text-centered has-text-white mb-6 has-text-white">Search for a Course near you</h2>
        <input id="pac-input" class="controls has-text-centered" type="text" placeholder="Search"/>
        <div id="map"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWCeNY_dm5Zigp44gdpZtYIftFPKrveTo&callback=initAutocomplete&libraries=places&v=weekly&channel=2" async></script>
        <script src="/js/courses.js"></script>
    </section>
</main>

