    <main class="section has-text-white">
      <div class="mb-6">
        <h2 class="is-size-1 has-text-centered has-text-weight-bold">
          Welcome to Disc-Jockies!
        </h2>
        <p class="has-text-centered">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <!-- This is the box to get the aside and recent reviews next to each other -->
      <!-- This is the aside to hold Favorite discs and upcoming tournaments -->
      <!-- This is the Favorite discs box -->
      <h2 class="is-size-2 has-text-centered">Discs</h2>

      <!-- This is the row tile -->
      <div class="tile is-ancestor">
        <!-- This is the individual tile -->
        <div class="tile is-parent is-3">
          <article class="tile is-child box">
            <!-- Put any content you want -->
            <div class="tile-content">
              <div class="media">
                <div class="media-content">
                  <h3 class="title is-4">discName</h3>
                  <p class="subtitle is-6">discBrand</p>
                </div>
              </div>
              <div class="content">
                <p>Desciption:</p>
                <p></p>
                <p>Specs:</p>
                <div class="is-flex is-flex-direction-row">
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Speed</p>
                    <p>speed</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Glide</p>
                    <p>glide</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Turn</p>
                    <p>turn</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Fade</p>
                    <p>fade</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <!-- This is the individual tile -->
        <div class="tile is-parent is-3">
          <article class="tile is-child box">
            <!-- Put any content you want -->
            <div class="tile-content">
              <div class="media">
                <div class="media-content">
                  <h3 class="title is-4">discName</h3>
                  <p class="subtitle is-6">discBrand</p>
                </div>
              </div>
              <div class="content">
                <p>Desciption:</p>
                <p></p>
                <p>Specs:</p>
                <div class="is-flex is-flex-direction-row">
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Speed</p>
                    <p>speed</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Glide</p>
                    <p>glide</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Turn</p>
                    <p>turn</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Fade</p>
                    <p>fade</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <!-- This is the individual tile -->
        <div class="tile is-parent">
          <article class="tile is-child box">
            <!-- Put any content you want -->
            <div class="tile-content">
              <div class="media">
                <div class="media-content">
                  <h3 class="title is-4">discName</h3>
                  <p class="subtitle is-6">discBrand</p>
                </div>
              </div>
              <div class="content">
                <p>Desciption:</p>
                <p></p>
                <p>Specs:</p>
                <div class="is-flex is-flex-direction-row">
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Speed</p>
                    <p>speed</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Glide</p>
                    <p>glide</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Turn</p>
                    <p>turn</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Fade</p>
                    <p>fade</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <!-- This is the individual tile -->
        <div class="tile is-parent">
          <article class="tile is-child box">
            <!-- Put any content you want -->
            <div class="tile-content">
              <div class="media">
                <div class="media-content">
                  <h3 class="title is-4">discName</h3>
                  <p class="subtitle is-6">discBrand</p>
                </div>
              </div>
              <div class="content">
                <p>Desciption:</p>
                <p></p>
                <p>Specs:</p>
                <div class="is-flex is-flex-direction-row">
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Speed</p>
                    <p>speed</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Glide</p>
                    <p>glide</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Turn</p>
                    <p>turn</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Fade</p>
                    <p>fade</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <!-- This is the individual tile -->
        <div class="tile is-parent">
          <article class="tile is-child box">
            <!-- Put any content you want -->
            <div class="tile-content">
              <div class="media">
                <div class="media-content">
                  <h3 class="title is-4">discName</h3>
                  <p class="subtitle is-6">discBrand</p>
                </div>
              </div>
              <div class="content">
                <p>Desciption:</p>
                <p></p>
                <p>Specs:</p>
                <div class="is-flex is-flex-direction-row">
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Speed</p>
                    <p>speed</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Glide</p>
                    <p>glide</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Turn</p>
                    <p>turn</p>
                  </div>
                  <div class="is-flex is-flex-direction-column p-1">
                    <p>Fade</p>
                    <p>fade</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main>

    <footer class="footer has-background-primary">
      <div class="content has-text-centered had-text-black">
        <p>
          <strong>Disc-Jockies</strong> by
          <a href="https://github.com/CaseyR1221/Disc-Jockey">The Hyzers</a>.
          The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>