*{
    font-family: 'Montserrat', sans-serif;
}

nav {
    margin-bottom: 5rem;
    padding: 1rem;
}

footer {
    margin-top: 5rem;
}

.middle-disc {
    margin: 0px 0px 0px 0px !important;
}

.navbar-start {
    justify-content: space-between;
    margin-left: 12rem;
}

.nav-Item {
    margin-left: 2rem;
    font-size: 18px;
}

.is-fullheight-100vh {
    height: 100vh;
}

.card {
    background-color: white;
    transition: all 300ms ease;
}

.card:hover {
    background-color: #f9f9f9;
}

#left-tile {
    margin-left: 10px;
}

#right-tile {
    margin-right: 0px;
}

#single-disc-name {
    margin-bottom: 5rem;
}