nav {
    margin-bottom: 5rem;
    padding: 1rem;
}

footer {
    margin-top: 5rem;
}

.middle-disc {
    margin: 0px 0px 0px 0px !important;
}

.navbar-start {
    justify-content: space-between;
    margin-left: 12rem;
}

.nav-Item {
    margin-left: 2rem;
    font-size: 2em;
}

.is-fullheight-100vh {
    height: 100vh;
}

#left-tile {
    margin-left: 10px;
}

#right-tile {
    margin-right: 0px;
}